=form_for @post, html: {multipart: true, id: 'new_post'} do |f|
	-if @post.errors.any?
		%ul.errors
			- @post.errors.full_messages.each do |msg|
				%li= msg	

	.input
		= f.label :category_id
		= f.select :category_id, [['travels', 1], ['food', 2], ['my life', 3]], prompt: '- select category -'
	.input
		= f.label :title
		= f.text_field :title
	.input
		= f.label :desc, 'Content'
		= f.text_area :desc, class: "tinymce"
	
	= file_field_tag "photos[]", type: :file, multiple: true
	-if @post.photos.any?
		.photos
			-@post.photos.each do |photo|
				.image{id: "photo_#{photo.id}"}
					= image_tag photo.photo.url(:thumb)
					= link_to 'X', destroy_photo_path(photo.id), method: :delete, remote: true, data: { confirm: 'Usunąć zdjęcie?' },class: 'destroy_photo'
					.clear
			.clear
	.submit
		= f.submit
	= f.number_field :locX, type: 'hidden'
	= f.number_field :locY, type: 'hidden'
	= link_to 'Back', :back, class: 'button'
	