.post
	%header= @post.title
	%footer= @post.created_at.strftime('%d/%m/%Y')
	%article.samlpe= @post.desc.html_safe
	= link_to @post do
		.button.edit 'read...'
	- if current_user
		= link_to edit_post_path(@post) do
			.button.edit edit
