.post.sample{class: post_cat_name(post.category_id)}
	%header.sample= post.title
	%footer.sample= post.created_at.strftime('%d/%m/%Y')
	%article.samlpe_art= truncate_html post.desc, length: 300
	-if post.photos.any?	
		.photos.mini
			-post.photos.each_with_index do |photo, i|
				- break if i == 4
				= link_to (cloudinary_url photo.path), data: {lightbox: 'example-set'} do
					= cl_image_tag photo.path, size: '200x100', crop: :fill
			.clear
	= link_to post do
		.button.edit= 'read more...'
	- if current_user
		= link_to edit_post_path(post) do
			.button.edit edit
	.clear.shadow

