.post.sample
	%header.sample= post.title
	%footer.sample= post.created_at.strftime('%d/%m/%Y')
	%article.samlpe_art= post.desc.truncate_words(35).html_safe
	-if post.photos.any?	
		.photos.mini
			-post.photos.each_with_index do |photo, i|
				- break if i == 4
				= link_to (photo.photo.url(:large)) do
					= image_tag photo.photo.url(:thumb)
	= link_to post do
		.button.edit= 'read more...'
	- if current_user
		= link_to edit_post_path(post) do
			.button.edit edit
	.clear.shadow

