.container
	%section
		.post
			%header= @post.title
			%footer= @post.created_at.strftime('%d/%m/%Y')
			%article= @post.desc.html_safe
			- if @post.category_id == 1
				#roll_map
					#map_photo
						= image_tag 'map.jpg'
						.map_pin#location_pin{style: "left: #{@post.locX}%; top: #{@post.locY}%"}
			-if @post.photos	
				.photos
					-@post.photos.each do |photo|
						= link_to (cloudinary_url photo.path), data: {lightbox: 'example-set'} do
							= cl_image_tag photo.path, size: '170x150', crop: :fill
					.clear

			= link_to :back do
				.button.edit back
			- if current_user
				= link_to edit_post_path(@post) do
					.button.edit edit
				= link_to @post, method: 'delete', data: {confirm: 'Are you sure?'} do
					.button.edit destroy

		