- if @controller == 'travels'
	#map
		.header.travels= 'All of my travels'
		#map_photo
			= image_tag 'map.jpg'
			- @pins.each do |pin|
				= link_to post_path(pin[2]) do
					.map_pin{style: "left: #{pin[0].to_s}%; top: #{pin[1].to_s}%"}
						.pin_desc
							.desc= pin[3].truncate_words(8)
							.date= pin[4].strftime('%d/%m/%Y')
.container		
	%section
		-if @controller == 'life'
			.header= "My little world"
		-elsif @controller == 'food'
			.header.heart
				= "Food"
				=image_tag 'heart.png'
		-else
			.header= 'Latest posts'
		-if @posts
			= render @posts