%header
	.container
		#top_menu
			%nav
				=link_to :root do
					#logo_image
				%ul
					%li= 'my life'
					%li= 'travels'
					%li= 'food'
					%li= 'about me'
				.social
					.fb
					.gmail
	#logo_banner
		.banner_text
			.smaller
				= 'OPEN THE DOOR'
				%br/
			.smaller_more
				= 'TO MY'
				%br/
			.bigger
				= 'DREAMS'