%html
	%head
		%title Blog
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		%link{:href => "https://fonts.googleapis.com/css?family=Raleway:200|Roboto:100,300", :rel => "stylesheet", :type => "text/css"}/
		= csrf_meta_tags
		= cloudinary_js_config 
	%body
		%header
			.container
				#top_menu
					%nav
						=link_to :root do
							#logo_image
						%ul
							= link_to '/life' do
								%li= 'my life'
							|
							= link_to '/travels' do
								%li= 'travels'
							|
							= link_to '/food' do
								%li= 'food'
							|
							= link_to '/about' do
								%li= 'about me'
						
					-if current_user
						.admin
							=link_to '+ Add post', new_post_path, class: 'button add_post'
							=link_to 'Statistics', stats_path, class: 'button stats'
							=link_to 'Logout', logout_path, class: 'button logout'
					- else
						.search
							= form_tag search_path, method: :get do
								= text_field_tag :search,'', id: 'search'
								= submit_tag 'Search'
					/ - else
					/ 	.social
					/ 		=link_to 'https://www.facebook.com/dominika.jagiela?fref=ts' do
					/ 			=image_tag 'fb-icon.png'	
					/ 		=link_to 'gmail' do
					/ 			=image_tag 'gmail-icon.png'	
			#logo_banner
				.banner_text
					.smaller
						= 'OPEN THE DOOR'
						%br/
					.smaller_more
						= 'TO MY'
						%br/
					.bigger
						= 'DREAMS'
	- if flash[:notice]
		#notice
			= flash[:notice]
	= yield

			